<nav class="nav-bar">
  <div class="logo" routerLink="/">
    <!-- Temporalmente comentado hasta tener el logo -->
    <!-- <img src="/assets/images/logo.svg" alt="TravelDream Logo" class="frame"> -->
    <span class="travel-dream">Travel<span class="dream">Dream</span></span>
  </div>

  <div class="menu-items">
    <a routerLink="/destinations" routerLinkActive="active" class="destinations">Destinations</a>
    <a routerLink="/custom-trip" routerLinkActive="active" class="packages">Custom Trip</a>
    <a routerLink="/contact" routerLinkActive="active" class="contact">Contact</a>
  </div>

  <div class="auth-buttons">
    <button routerLink="/login" class="cta-button">Login</button>
  </div>
</nav>
