<nav class="nav-bar">
  <div class="logo" routerLink="/">
    <!-- Temporalmente comentado hasta tener el logo -->
    <!-- <img src="/assets/images/logo.svg" alt="TravelDream Logo" class="frame"> -->
    <span class="travel-dream">Travel<span class="dream">Dream</span></span>
  </div>

  <div class="menu-items">
    <a routerLink="/destinations" routerLinkActive="active" class="destinations">Destinations</a>
    <a routerLink="/custom-trip" routerLinkActive="active" class="packages">Custom Trip</a>
    <a routerLink="/contact" routerLinkActive="active" class="contact">Contact</a>
  </div>

  <div class="auth-buttons">
    <button *ngIf="!authService.isLoggedIn()" routerLink="/login" class="cta-button">Login</button>
    
    <div *ngIf="authService.isLoggedIn()" class="user-circle" (click)="toggleUserMenu()">
      <i class="fas fa-user"></i>
      
      <!-- Menú desplegable -->
      <div class="dropdown-menu" *ngIf="showUserMenu">
        <a routerLink="/profile" class="dropdown-item">Profile</a>
        <a (click)="logout()" class="dropdown-item">Logout</a>
      </div>
    </div>
  </div>

  <div class="user-menu" *ngIf="authService.isLoggedIn()">
    <div class="notification-icon">
      <img class="frame2" src="assets/frame1.svg" />
    </div>
    <div class="user-avatar" [routerLink]="['/profile']">
      <div class="ar">{{ authService.currentUser$ | async | userInitials }}</div>
    </div>
  </div>
</nav>
